body {
    margin : 0 auto; 
}

body {
    background: url("../images/Home-background.png") no-repeat ;
    -webkit-background-size: cover;
    background-size: cover; 
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

#left-container {
    margin-right: 50px;
    padding : 100px 100px 0 50px;
}

h1 {
    color: white;
    font-family: "wickedMouse";
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1.8px;
}

#right-container {
    text-align: center;
    padding : 100px 200px 0 100px;
}

#rules {
    padding-top: 30px;
    padding-bottom: 30px;
}

.merman {
    width: 350px;
    height: 550px;
}

.logo {
    width: 450px; 
    height: 200px;
}

.start-button {
    width: 150px;
    height: 40px;
}

#game-board {
    background: red;
}

/*------MEDIA QUERIES-------*/
@media (max-width: 575.98px) { 

 }

@media (max-width: 767.98px) { 
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .merman {
        width: 150px;
        height: 250px;
    }

    .logo {
        width: 300px; 
        height: 100px;
    }
    #right-container {
        padding : 10px 20px 0 10px;
    }
 }

@media (max-width: 991.98px) { 

 }

@media (max-width: 1199.98px) { 

 }

